<form action="/order/create" method="POST" id="sign-up-form" class="form-signin">
	<h2 class="form-signin-heading">Order Food</h2>

	<% if(flash && flash.err) { %>
		<ul class="alert alert-success">
	<% Object.keys(flash.err).forEach(function(error) { %>
		<li><%- flash.err[error].name %></li>
		<li><%- flash.err[error].message %></li>
		<% }) %>
		</ul>
	<% } %>

	<div class="control-group">
	<input type="text" id="restaurant" class="form-control" placeholder="Restaurant" name="restaurant">
	</div>

	<div class="control-group">
	<input type="text" id="order" class="form-control" placeholder="What Are You Ordering? " name="orderDescription">
	</div>


	<input type="submit" class="btn btn-lg btn-primary btn-block" value = "Submit Order" />
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>

