<div class = 'container'>
	<h1><%= order.restaurant %></h1>
	<h2><%= order.orderDescription %></h2>
	<h2><%= order.orderTime %></h3>
	<a class="btn btn-medium btn-primary" href="/order/edit/<%= order.id %>">Edit</a>
</div>