<div class="container">
	<div class="jumbotron">
		<h1>Grubber</h1>
		<h2>Are you hungry?</h2>
		<div class="hungry">
			Are you hungry?
			<a href="/user/new" class="btn btn-lg btn-success">Click here</a>
		</div>
		<div class="delivery">
			Are you broke?
			<a href="/user/new" class="btn btn-lg btn-success">Click here</a>
		</div>
	</div>
<div>
