<div class="container">
	<div class="jumbotron">
		<h1>Grubber</h1>
		<h2>Are you hungry?</h2>
		<a href="/user/new?type=hungry" class="btn btn-lg btn-success">Hungry?</a>
		<br><br>
		<a href="/user/new?type=delivery" class="btn btn-lg btn-success">Broke?</a>
	</div>
<div>
