<div class="container">
	<div class="jumbotron">
		<h1>Grubber</h1>
		<p><h2>Are you hungry?</h2><br>
		Grubber is a service to get any food you want delivered to you. If you're hungry, sign up and place your order. If you're broke, sign up and pick up people's deliveries for them.</p>
		<a href="/user/new?type=hungry" class="btn btn-lg btn-success">Hungry?</a>
		<br><br>
		<a href="/user/new?type=delivery" class="btn btn-lg btn-success">Broke?</a>
	</div>
<div>
